:root {
    --white-color: #fff;
    --black-color: #000;
    --title-color: #555;
    --text-color: #9a9a9a;

    --primary-first-color: #4bbad6;
    --primary-second-color: #ee636f;
    --primary-third-color: #55bd9c;
    --primary-fourth-color: #ba71da;
    --primary-fifth-color: #f3a46b;
    --primary-sixth-color: #fbd233;

    --berlin-symbol-background-color: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
    --hongkong-symbol-background-color: linear-gradient(to right, #f76570 0%, #f78d65 100%);
    --francisco-symbol-background-color: linear-gradient(to right, #ba71da 0%, #da717b 100%);
    --phuket-symbol-background-color: linear-gradient(to right, #14b9d5 0%, #14d5b1 100%);
    --amsterdam-symbol-background-color: linear-gradient(to right, #f3a46b 0%, #f3c96b 100%);
    --tuscany-symbol-background-color: linear-gradient(to right, #1bbc9b 0%, #1bbc63 100%);


    --header-height: 104px;

    --height-column-4: calc(1200px * 33.3333%);
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}




.btn {
    font-size: 1.4rem;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}



/* button color */
.btn--primary-first-color {
    background-color: var(--primary-first-color);
}

.btn--primary-second-color {
    background-color: var(--primary-second-color);
}

.btn--primary-third-color {
    background-color: var(--primary-third-color);
}

.btn--primary-fourth-color {
    background-color: var(--primary-fourth-color);
}

.btn--primary-fifth-color {
    background-color: var(--primary-fifth-color);
}

.btn--primary-sixth-color {
    background-color: var(--primary-sixth-color);
}

/* slider */

.slider {
    position: relative;
}   

/* animation */
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.animation--slide-in {
    animation: slideIn ease-out 0.5s;
}


.animation--slide-out {
    animation: slideOut ease-out 0.5s;
}

.background--white {
    background-color: var(--white-color);
}

/* modal */

.modal-container {
    position: fixed;
    bottom: 32px;
    right: 32px;
}

.modal__label {
    background-color: var(--primary-second-color);
    color: var(--white-color);
    letter-spacing: 1px;
    padding: 0 3px;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    top: 1px;
    left: 50%;
    min-width: 56px;
    transform: translateX(-50%);
}

.modal__price {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #555;
    color: var(--white-color);

}

.modal__price-symbol {
    font-size: 0.8rem;
    position: absolute;
    right: 75%;
    bottom: 50%;
}

.modal__price-number {
    position: absolute;
    top: 57%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.modal__icon {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #555;
    bottom: 0;
    left: -28%;
}

.modal__icon-img {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.mb-40 {
    margin-bottom: 40px;
}


.mb-60 {
    margin-bottom: 60px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mt-40 {
    margin-top: 40px;
}


.mt-60 {
    margin-top: 60px;
}

.mt-80 {
    margin-top: 80px;
}


.visible {
    visibility: visible !important;
}

.not-visible {
    visibility: hidden !important;
}
